# __Data Handling and Manipulation.__
Date : 15, May, 2024.

Importing libraries.

In [1]:
import pandas as pd
import numpy as np

Loading the dataset

In [2]:
filename = "sales.csv"
data = pd.read_csv(filename)
data.head()

   rate  sales_in_first_month  sales_in_second_month  sales_in_third_month
0   7.0                   NaN                    150                   200
1   8.0                 120.0                    180                   240
2   NaN                  80.0                    120                   160
3   4.0                 150.0                    225                   300
4   5.0                   NaN                    135                   180