# __Data Handling and Manipulation.__
Date : 15, May, 2024.

Importing libraries.

In [1]:
import pandas as pd
import numpy as np

Loading the dataset

In [2]:
filename = "sales.csv"
data = pd.read_csv(filename)
data.head()

   rate  sales_in_first_month  sales_in_second_month  sales_in_third_month
0   7.0                   NaN                    150                   200
1   8.0                 120.0                    180                   240
2   NaN                  80.0                    120                   160
3   4.0                 150.0                    225                   300
4   5.0                   NaN                    135                   180

Checking Missing Values.

In [5]:
# show number of missing values
data.isnull().sum()

rate                     2
sales_in_first_month     3
sales_in_second_month    0
sales_in_third_month     0
dtype: int64

Checking for the data-type of the columns.

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   rate                   8 non-null      float64
 1   sales_in_first_month   7 non-null      float64
 2   sales_in_second_month  10 non-null     int64
 3   sales_in_third_month   10 non-null     int64
dtypes: float64(2), int64(2)
memory usage: 452.0 bytes

Mean of Columns.